[QuickPhrase]
# QuickPhrase에 대한 트리거 키
# 가능한 값:
# None
# Semicolon
# Grave
#QuickPhraseTriggerKey=Semicolon
# QuickPhrase의 대체 트리거 키
#AlternativeTriggerKey=
# 변환 키 선택
# 가능한 값:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# 철자 힌트 표시 않음
# 가능한 값:
# True False
#DisableSpell=False
# 최대 힌트 문자 수
#MaximumHintLength=2

