[Keyboard]
# 후보 단어를 선택할 때 추가 공백으로 입력완료
# 가능한 값:
# True False
#CommitWithExtraSpace=False
# 변환 키 선택
# 가능한 값:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# 단어 힌트 전환
#HotkeyToggleWordHint=CTRL_ALT_H
# 단어 힌트를 트리거할 최소 문자 수
#MinimumHintLength=1
# 철자 힌트 목록의 최대 문자 수
#MaximumHintLength=5
# 입력을 사용하여 기존 문자열 입력완료
# 가능한 값:
# True False
#UseEnterToCommit=False
# 사용자 사전에 현재 입력 버퍼 추가
#HotkeyAddToUserDict=CTRL_ALT_N

