[Clipboard]
# 클립보드 기록 파일에 저장
# 가능한 값:
# True False
#SaveHistoryToFile=True
# 저장할 클립보드 히스토리의 길이
#HistoryLength=5
# 각 후보 단어의 최대 문자 수
#CandidateMaxLength=43
# 클립보드 히스토리 목록의 트리거 키
#TriggerKey=CTRL_;
# 선택 텍스트 사용
# 가능한 값:
# True False
#UsePrimary=True
# 변환 키 선택
# 가능한 값:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# 공백 선택 무시
# 가능한 값:
# True False
#IgnoreBlank=True

