[IMSelector]
# 로컬 입력기 선택 키
#LocalInputMethodSelectKey=
# 전역 입력기 선택 키
#GlobalInputMethodSelectKey=
# 로컬 입력기 지우기
#ClearLocal=

[GlobalSelector]
# 첫번째 입력기 전환
#IM1=
# 두번째 입력기 전환
#IM2=
# 세번째 입력기 전환
#IM3=
# 네번째 입력기 전환
#IM4=
# 다섯번째 입력기 전환
#IM5=
# 여섯번째 입력기 전환
#IM6=
# 일곱번째 입력기 전환
#IM7=
# 여덟번째 입력기 전환
#IM8=
# 아홉번째 입력기 전환
#IM9=

[LocalSelector]
# 첫번째 입력기 전환
#IM1=
# 두번째 입력기 전환
#IM2=
# 세번째 입력기 전환
#IM3=
# 네번째 입력기 전환
#IM4=
# 다섯번째 입력기 전환
#IM5=
# 여섯번째 입력기 전환
#IM6=
# 일곱번째 입력기 전환
#IM7=
# 여덟번째 입력기 전환
#IM8=
# 아홉번째 입력기 전환
#IM9=

